@model LibraryManagementSystem.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="totalPrice" class="control-label"></label>
                <input readOnly asp-for="totalPrice" value="@ViewBag.total" class="form-control" />
                <span asp-validation-for="totalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-primary" asp-controller="Home" asp-action="Index" onclick="success()">Order</a>
                <a class="btn btn-danger" asp-controller="Home" asp-action="Index" onclick="cancel()">Cancel</a>
                
            </div>
        </form>
    </div>
</div>
<script>
    function success()
    {
        alert("order done successfully. happy reading:)");
    }
    function cancel() 
    {
        alert("order cancelled successfully.");
    }
</script>

